#debug_data>table { margin: 0 !important; }
#debug_data table { margin: 10px; border: 1px solid #DCDCDC; border-width: 1px 0 0 1px; border-radius: 2px; border-spacing: 0; }
#debug_data table td { border: 1px solid #DCDCDC; padding: 8px; border-width: 0 1px 1px 0; font: 13px Arial; color: #444; }
#debug_data thead td { font-weight: bold; background: #F3F3F3; }
#debug_data td { white-space: pre; }